.main{
    display: inline-block;
}
.main h3{
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}

.one:hover .drop-down{
    visibility: visible;
}
.drop-down{
    background-color: lightsalmon;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    z-index: 1;
}